.szoba{
    background: linear-gradient(135deg, #ffffff, #0056b3);
}
@keyframes slideDown {
    0% {
      transform: translateY(-100%); /* Kezdő pozíció: fent */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* Végeredmény: az eredeti helyzetben */
      opacity: 1;
    }
  }
  
  h1 {
    animation: slideDown 1s ease-out; /* Animáció alkalmazása */
  }
  