<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Foglalás</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <a href="szoba" class="gomb_szoba">--Vissza a szobákhoz</a>

<div class="foglalas">
    <h2>Foglalás</h2>
    <form id="bookingForm" #bookingForm="ngForm" (ngSubmit)="submitBooking(bookingForm)">
        <label for="name" >Bejelentkezés Dátum</label>
        <input type="date" name="bejelentkezes_datum" [(ngModel)]="foglalasData.bejelentkezes_datum" id="name" required>

       

        <label for="checkin">Kijeletnezés Dátum</label>
        <input type="date" name="kijelentkezes_datum" [(ngModel)]="foglalasData.kijelentkezes_datum" id="checkin" required>

        <label for="checkout">Szoba_id</label>
        <input type="number" name="szoba_id" [(ngModel)]="foglalasData.szoba_id" id="checkout" required>

        

        <button type="submit" class="btn">Foglalás elküldése</button>
    </form>
</div>

</body>
</html>
