<section id="Bejelentkezes" class="login">
<body style="margin: 0; padding: 0; height: 100vh; display: flex; justify-content: center; align-items: center;" class="Bejelentkezes">
    <div style="text-align: center; border: 2px solid #007BFF; padding: 20px; width: 300px; margin: 0 auto; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); background:linear-gradient(135deg, #ffffff, #0056b3);">
        <h2 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333; margin-top: 0; margin-bottom: 20px;">Bejelentkezés</h2>
        <label style="display: block; margin-bottom: 10px; color: #333;">Név</label>
        <input type="text" required style="padding: 10px; width: 80%; border: none; border-radius: 5px; margin-bottom: 15px;">
        <label style="display: block; margin-bottom: 10px; color: #333;">E-mail</label>
        <input type="text" required style="padding: 10px; width: 80%; border: none; border-radius: 5px; margin-bottom: 15px;">
        <label style="display: block; margin-bottom: 10px; color: #333;">Jelszó</label>
        <input type="password" required style="padding: 10px; width: 80%; border: none; border-radius: 5px; margin-bottom: 15px;">
        <button style="padding: 10px 20px; border: none; border-radius: 5px; background-color: #007BFF; color: #fff; cursor: pointer; transition: background-color 0.3s;">Bejelentkezés</button>
        <p style="margin-top: 15px; color: #333;">Nincs fiókja? <a href="#" style="color: #000000; text-decoration: none;"><a href="regisztracio" style="color: #ffffff;">Regisztráljon itt!</a></a></p>
        <p style="margin-top: 15px; color: #333;">Elfelejtette a jelszavát? <a href="#" style="color: #000000; text-decoration: none;"><a href="uj_jelszo" style="color: #ffffff;">Regisztráljon itt!</a></a></p>
    </div>
    </body>
</section>