<section id="home" class="oldal">
    <h2>A tökéletes hely a kiruccanásra!</h2>
    <h3 class="animated-text">Foglalja le szállását a Hotel Borsodban egy felejthetetlen élményért.</h3>

<div class="img">   
   <img src="hotel.png" width="1200" height="600">
</div>

<section id="about">
    <h2>Rólunk</h2>
    <p>A Hotel Borsod egy luxus úticél, amely a legjobb kényelmet és szolgáltatást kínálja. Szobáinkat úgy alakítottuk ki, hogy az Ön tartózkodása a lehető legélvezetesebb legyen.</p>
    <p>Arra törekszünk hogy a vendégeinknek a legjobb élményt adjuk</p>

    <p>A környéken számos program és látnivaló található mint például: 
        <p><strong>Kalandpark</strong> (Bobpálya<img src="bob.jpg" width="40" height="40"> mászófal<img src="maszo.webp" width="40" height="40"> libegő<img src="libego.png" width="40" height="40"> sípálya<img src="sielo.png" width="40" height="40">)</p>
    <p><strong>Kálvária</strong> A Magyar Kálvária egy történelmi emlékhely Sátoraljaújhelyen, a Trianonban kettévágott város fölött, a Szár-hegyen kialakítva.</p>

    <p><strong>Kazinczy múzeum</strong> A Kazinczy Ferenc Múzeum 1984-ben alakult Sátoraljaújhelyen, 2013 óta a budapesti Petőfi Irodalmi Múzeum szervezeti keretei között működik a Dózsa György út 11 szám alatt. A sátoraljaújhelyi Kazinczy Ferenc Múzeum besorolását tekintve területi múzeum. Az egykori Zemplén vármegye központjának számító kisváros múzeuma meghatározó szerepet tölt be a település kulturális életében</p>
</section>
<section id="activities" class="activities-section">
    <h2 style="color: black;">Szolgáltatásaink és Tevékenységek<h3><strong> Csak helyben foglalhat</strong></h3></h2>
    <p style="color: black;">A Hotel Borsodban nemcsak pihenhet, hanem számos kikapcsolódási lehetőség is várja. Fedezze fel a különleges programjainkat, és élvezze a maximális kényelmet és szórakozást:</p>
    
    <ul>
        <!--wellnes-->
        <div class="wellness-section">
            <p style="color: black;"><strong style="color: black;">Wellness központ:</strong> Pihenjen és frissüljön fel szaunánkban, gőzfürdőnkben vagy pihenőszobánkban.</p>
            <p><strong style="color: black;">2 főre 60.000 Ft/éjszaka</strong></p>
            <img src="wellness.png">
            
           
        </div>
        

       <!--medence-->
       <div class="pool-section">
        <p style="color: black;"><strong>Úszómedence:</strong> Élvezze a frissítő úszást, miközben gyönyörködik a csodálatos kilátásban.</p>
        <p><strong style="color: black;">Ingyenes</strong></p>
        <img src="medence.png" width="400" height="400">
        </div>


        <!--étterem-->
        <div class="gourmet-section">
        <p style="color: black;"><strong>Gourmet étterem:</strong> Kóstolja meg a legfinomabb helyi és nemzetközi ételeket éttermünkben, melyek a legmagasabb szintű kulináris élményt biztosítanak.</p>
        <p><strong style="color: black;">Egy óra korlátlan étel és ital fogyasztás- 12000 Ft/fő</strong></p>
        <img src="etterem.png" height="400" width="400">
        </div>

        <!--sportok-->
        <div class="sports">
        <p style="color: black;"><strong>Sportolási lehetőségek:</strong> Használja ki edzőtermünket, vagy próbáljon ki különböző szabadtéri sportokat, mint például túrázás vagy kerékpározás a környéken.</p>
        <p><strong style="color: black;">5000 Ft/Fő</strong></p>
        <img src="sports.png" height="400" width="400">
        </div>

        <!--konferencia-->
        <div class="konferencia">
        <p style="color: black;"><strong>Konferenciaterem:</strong> Többek között üzleti rendezvények, konferenciák, és esküvők szervezésére is rendelkezésre állunk, modern felszereltséggel.</p>
        <p><strong style="color: black;">Előre egyeztetés alapján</strong></p>
        <img src="konferencia.png" height="400" width="400">
        </div>
    </ul>

    <h4>Legyen szó pihenésről, szórakozásról, vagy üzleti utazásról, a Hotel Borsod minden igényt kielégít. Kérjük, érdeklődjön kollégáinknál a szállodai programok és szolgáltatások iránt.</h4>
</section>







<section id="contact">
    <h2>Kapcsolat</h2>
    <form id="contact-form">
        <label for="name">Neve:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email címe:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Üzenet:</label>
        <input type="message" id="message" name="message" required >

        <button type="submit">Üzenet elküldése</button>
    </form>
</section>

<footer>
    
    <p><img src="email.png" width="30" height="30"> <a href="mailto:hotelborsodgmail.com" style="color: black;">info&#64;hotelborsod.com</a></p>
    <p><img src="cell_phone.jpg" width="30" height="30">Telefon: 0647 589 4581</p>
    <p><img src="location.png" width="30" height="30">Helyszín: 3980, Kazinczy utca 12</p>
    <p>&copy; 2025 Hotel Borsod. All rights reserved.</p>
</footer>